WEBSERVICE_PORT=8080
DATABASE_HOST=127.0.0.1
DATABASE_PORT=54321
DATABASE_USERNAME=food-services-recipes-admin
DATABASE_PASSWORD=password123
DATABASE=food-services-recipes
AUTH_TOKEN_VALIDATION_URL=http://localhost:3000/users/validate-token